h1,
h2,

h4,
h5,
h6 {
  font-family: 'Candal', serif;
  color: #002849;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

.btn {
  padding: .5rem 1rem;
  background: #02a2ff;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1.08em;
  font-family: 'Lora', serif;
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
  }
  
  .btn:hover {
    color: white !important;
    background: #2d88ff;
  }
  
  .text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'Lora', serif;
  }








/* CONTENT */

.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content.single {
  background: white;
  padding: 20px 50px;
  font-size: 1.1em;
  border-radius: 5px;
}

.content .main-content.single .post-title {
  text-align: center;
  margin-bottom: 40px;
}

.content .main-content .post {
  width: 95%;
  height: 330px;
  margin: 20px auto;
  border-radius: 5px;
  background: rgb(233, 251, 255);
  position: relative;
  margin-left: 185px;

  
}

.content .popular .post {
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding-top: 10px;
}

.content .popular .post img {
  height: 60px;
  width: 75px;
  float: left;
  margin-right: 10px;
}

.content .main-content .post .post-preview i {
  color: #757575;
  font-size: .8em;
}

.content .main-content .post .preview-text {
  line-height: 1.5em;
  font-size: 1.05em;
  color: rgb(2, 0, 114);
}

.content .main-content .post .read-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid #1897ff;
  background: transparent;
  border-radius: 0px;
  color: #0083c0 !important;
  border-radius: 20px;
}

.content .main-content .post .read-more:hover {
  background: #0077ff;
  color: white !important;
  transition: .25s;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content .main-content .post .post-preview {
  width: 60%;
  padding: 10px;
  float: right;
}

.content .main-content .recent-post-title {
  margin: 20px;
}

.content .sidebar {
  width: 30%;
  float: left;
}

.content .sidebar.single {
  padding: 0px 10px;
}

.content .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
  margin-top: 80px;
}

.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
  padding-left: 10px;
  transition: all 0.3s;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 934px) {
  .content {
    width: 100%;
  }

  .auth-content {
    width: 50%;
  }

  .content .main-content .post {
    width: 100%;
    margin-left: 0px;
  }
  

  .content .main-content {
    width: 100%;
    padding: 10px;
  }

}

@media only screen and (max-width: 600px) {
  .content .main-content .post {
    height: auto;
  }

  .auth-content {
    width: 90%;

  }

  .content .main-content.single {
    padding: 10px 20px;
  }

  .content .main-content .post .post-image {
    width: 100%;
  }

  .content .main-content .post .post-preview {
    width: 100%;
  }

  .content .main-content .post .read-more {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
  }

  .post-slider .next {
    right: 10px;
  }

  .post-slider .prev {
    left: 10px;
  }
}