{% extends 'base.html' %}
{% load static %}

{% block title %}FIKRINGIZNI QOLDIRING{% endblock title %}

{% block content %}



  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        
        <li><a href="{% url 'index' %}" class="nav-link scrollto "><i class="bx bx-home"></i> <span>Bosh sahifa</span></a></li>
        <li><a href="{% url 'maqola' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Maqolalar</span></a></li>
        <li><a href="{% url 'infografika' %}" class="nav-link scrollto"><i class="bx bx-info-square"></i> <span>Infografika</span></a></li>
        <li><a href="{% url 'video' %}" class="nav-link scrollto"><i class="bx bx-video"></i> <span>Videolar</span></a></li>
        <li><a href="{% url 'haqida' %}" class="nav-link scrollto"><i class="bx bx-info-circle"></i> <span>Sayt haqida</span></a></li>
        <li><a href="{% url 'aloqa' %}" class="nav-link scrollto active"><i class="bx bx-envelope"></i> <span>Aloqa uchun</span></a></li>
      </ul>
    </nav>
  </header>





  <section id="homes" class="main-contact parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>O`z fikringizni qoldiring</h1>
               </div>

          </div>
     </div>
</section>

<section id="contact" class="contact">
     <div class="container" data-aos="fade-up">

       <div class="section-title">
         <h2>Fikringizni qoldiring</h2>
       </div>

      <div class="row mt-1">

         <div class="col-lg-4">
           <div class="info">
             <div class="email">
               <i class="bi bi-envelope"></i>
               <h4>Email:</h4>
               <p>info@matonat.uz</p>
             </div>
           </div>
         </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form  method="post"  class="php-email-form"> {% csrf_token %}
              
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Ismingizni kiriting..." required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Emailingizni kiriting..." required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Nima haqida..." required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Fikringizni yozing..." required></textarea>
            </div>
            <div class="text-center email-form"><button type="submit">Yuborish</button></div>
          </form>

         </div>

       </div>

    </div>
   </section>

 </main>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% for msg in messages %}
  swal(" {{msg}} ");
  {% endfor %}
</script>
  


{% endblock content %}